<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenxi.mapper.CollectMapper">
    <insert id="batchInsertIgnore" parameterType="map">
        INSERT INTO course_collect (id, user_id, course_id, collect_time)
        VALUES
        <foreach collection="courseIds" item="courseId" index="index" separator=",">
            (#{ids[${index}]}, #{userId}, #{courseId}, #{collectTime})
        </foreach>
    </insert>
    <select id="getCourseIdsByUserId" resultType="java.lang.Long">
        SELECT course_id
        FROM course_collect
        WHERE user_id = #{userId}
        ORDER BY collect_time DESC
    </select>
</mapper>